.ipynb_checkpoints

/data/**
!/data/SemEvalT3
!/data/ISEAR
!/data/Friends
!/data/Friends/Word2Vec
!/data/Friends/Friends
!/data/Friends/FastText
!/data/Friends/GloVe
!/data/AffectiveText
!/data/EmotionX
!/data/CrowdFlower
!/data/CrowdFlower/BERT
!/data/CrowdFlower/Word2Vec
!/data/CrowdFlower/FastText
!/data/CrowdFlower/GloVe
!/data/Tales
!/data/emotion-cause
!/data/SemEval
!/data/SemEval/Data_(Public)
!/data/EmoBank
!/data/EmoBank/EmoBank
!/data/EmotionPush
!/data/EmotionPush/Word2Vec
!/data/EmotionPush/FastText
!/data/EmotionPush/GloVe
!/data/GroundedEmotions
!/data/DailyDialog

!/data/Friends/Word2Vec/embed.py
!/data/Friends/FastText/embed.py
!/data/Friends/GloVe/embed.py
!/data/CrowdFlower/Word2Vec/embed.py
!/data/CrowdFlower/FastText/embed.py
!/data/CrowdFlower/GloVe/embed.py
!/data/EmotionPush/Word2Vec/embed.py
!/data/EmotionPush/FastText/embed.py
!/data/EmotionPush/GloVe/embed.py

/models/**
!/models/models.txt
!/models/README.md
